<header class="">
    <nav class="flex items-center justify-between px-5 py-8 flex-wrap">
        <a href="#home" class="text-gray-800 font-bold text-2xl basis-6/12 md:basis-[initial] md:grow">Ivan Ivicek</a>
        <ul class="hidden md:flex space-x-6 mr-8">
            @for (navigationLink of navigationLinks; track navigationLink.label) {
                <li><a href="{{navigationLink.href}}" class="text-gray-800 border-b-2 border-transparent hover:border-gray-800 transition-[border-bottom] ease-linear">{{navigationLink.label}}</a></li>
            }
        </ul>
        <div class="flex items-center space-x-4 basis-6/12 justify-end md:space-x-0 md:basis-[initial]">
            <a href="#contact" class="px-10 py-3 text-white bg-purple-600 rounded-3xl">Hire me!</a>
            <button (click)="onHamburgerClick($event)" type="button" command="--toggle" commandfor="mobile-menu" class="md:hidden relative inline-flex items-center justify-center rounded-md p-2 text-gray-800 border-2 border-transparent hover:border-gray-800 transition-[border] focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                    <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <ul class="hidden md:hidden basis-full py-5" id="mobile-menu">
            @for (navigationLink of navigationLinks; track navigationLink.label) {
                <li class="py-2 text-center focus:bg-purple-200">
                    <a href="{{navigationLink.href}}" class="text-gray-800">{{navigationLink.label}}</a>
                </li>
            }
        </ul>
    </nav>
</header>
