<header class="">
    <nav class="flex items-center justify-between px-5 py-8 flex-wrap">
        <a href="#home" class="text-gray-800 font-bold text-2xl basis-6/12 md:basis-[initial] md:grow">Ivan Ivicek</a>
        <ul class="hidden md:flex space-x-6 mr-8">
            @for (navigationLink of navigationLinks; track navigationLink.label) {
                <li><a href="{{navigationLink.href}}" class="text-gray-800 border-b-2 border-transparent hover:border-gray-800 transition-[border-bottom] ease-linear">{{navigationLink.label}}</a></li>
            }
        </ul>
        <div class="flex items-center space-x-4 basis-6/12 justify-end md:space-x-0 md:basis-[initial]">
            <a href="#contact" class="px-10 py-3 text-white bg-purple-600 rounded-3xl">Hire me!</a>
            <app-hamburger (active)="onHamburgerClick()" />
        </div>
        <ul class="md:hidden basis-full py-5" [class.hidden]="!isHamburgerClicked()" id="mobile-menu">
            @for (navigationLink of navigationLinks; track navigationLink.label) {
                <li class="py-2 text-center focus:bg-purple-200">
                    <a href="{{navigationLink.href}}" class="text-gray-800">{{navigationLink.label}}</a>
                </li>
            }
        </ul>
    </nav>
</header>
