/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-primary: #8650F4;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
  }
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
